<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link href="Content/site.css" rel="stylesheet" />
    <script src="Scripts/jquery-1.9.1.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
</head>
<body>
   
    <div class="container">



        <div class="row">
            <div class="col-md-12">
                <h2>Profil Sayfası</h2>
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <center><img src="http://placehold.it/150x150" class="img-circle img-responsive img-thumbnail" /></center>
            </div>
            <div class="col-md-8 well">

                <div class="form-group">
                </div>

                <div class="form-group">
                    <label class="col-md-2 text-danger">Name : </label>
                    <label class="col-md-10">Ayan</label>
                </div>

                <div class="form-group">
                    <label class="col-md-2 text-danger">Surname : </label>
                    <label class="col-md-10">Abbasova</label>
                </div>

                <div class="form-group">
                    <label class="col-md-2 text-danger">E-Mail : </label>
                    <label class="col-md-10">ayannabbasova@gmail.com</label>
                </div>

                <div class="form-group">
                    <label class="col-md-2 text-danger">Bio : </label>
                    <label class="col-md-10">
                        ........
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-right">
                <a href="#" class="btn btn-warning">
                    <span class="glyphicon glyphicon-edit"></span> Edit
                </a>

                <a href="#" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span> Delete
                </a>
            </div>
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>

    </div>


</body>
</html>
