<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link href="Content/site.css" rel="stylesheet" />
    <script src="Scripts/jquery-1.9.1.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
</head>
<body>
    
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <br />
                <center><img src="http://placehold.it/200x200" class="img-responsive img-thumbnail" /></center>
            </div>
            <div class="col-md-8">

                <div class="form-group">

                    <div class="col-md-6">
                        <h2>Product Name</h2>
                        <hr />
                    </div>
                    <div class="col-md-6 text-right">
                        <h2 class="text-danger">375.00 ₺</h2>
                        <hr />
                    </div>

                </div>

                <div class="form-group">
                    <p>Yorum</p>
                </div>

                <div class="form-group">
                    <span class="text-danger">Derecelendirme :&nbsp;&nbsp;&nbsp;</span>
                    <span class="text-warning">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </span>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-push-4">
                <a href="cart.html" class="btn btn-success">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart
                </a>
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-push-4">

                <div class="form-group">
                    <h3>Comments</h3>
                    <hr />
                </div>

                <div class="form-group">
                    <ul class="media-list">
                        <li class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object img-circle img-thumbnail" src="http://placehold.it/64x64">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">ayanabbasova</h4>
                                Yorum
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object img-circle img-thumbnail" src="http://placehold.it/64x64">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">ayanabbasova</h4>
                                Yorum2
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="form-group">
                    <textarea cols="30" rows="3" id="comment" name="comment" class="form-control" placeholder="Enter your comments" maxlength="255"></textarea>
                </div>

                <div class="form-group text-right">
                    <button class="btn btn-success">
                        <span class="glyphicon glyphicon-send"></span> Send
                    </button>
                </div>
            </div>
        </div>
    </div>



</body>
</html>
